<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Grunt Boilerplate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="/css/core.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app">
    @RenderBody()

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/jquery-1.10.2.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/services/todoService.js"></script>
    <script src="/js/app/controllers/todoController.js"></script>
    <script src="/js/app/directives/validatorDirectives.js"></script>
    
    <script src="/js/todo.js"></script>

</body>
</html>